@theme {
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #FCFCFC;
  --color-neutral-900: #222222;

  --color-primary: #01D167;

  --color-secondary: #0C365A;
  --color-secondary-light: #325BAF;

  --color-aspire-green: #01D167;
  --color-aspire-blue: #325BAF;
  --color-aspire-blue-light: #23CEFD;
}