@use "tailwindcss";
@use './font.scss';
@use './colors.scss';

body {
  font-family:
    var(--font-openSans),
    var(--font-avenirNext);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hidden {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}